# Este es un flujo de trabajo de integración continua
# que ejecuta las siguientes tareas:
#
# * Revisa las herramientas de desarrollo
# * Valida la calidad del código
# * Ejecuta el análisis estático de código
# * Ejecuta las pruebas unitarias
name: "Integración Continua"

# Controla cuando debe ejecutarse la `GitHub action`
on:
  # Se dispara en cualquier rama que tenga abierto un `Pull Request`
  pull_request:
    branches:
      - "*"
    # No debe ejecutarse cuando se modifica un archivo MarckDown
    paths-ignore:
      - '**.md'
  # En caso de hacer push a main o develop también se debe ejecutar
  push:
    branches:
      - main
      - develop

# Variables de entorno globales para el flujo de trabajo
env:
  ECTO_USER: postgres
  ECTO_PASS: postgres
  APP_NAME: enrol

# Un flujo de trabajo se compone de uno o más trabajos (jobs) que pueden
# ejecutarse secuencialmente o en paralelo
jobs:

  # Compila la aplicación en el entorno de prueba y ejecuta análisis general
  test:
    name: "[Test] Pruebas Unitarias. OPT ${{matrix.otp}}/ Elixir ${{matrix.elixir}}"
    runs-on: ubuntu-latest
    strategy:
      # Define las versiones a emplear de OTP y Elixir
      # cuando se construya y ejecuten los pasos del flujo de trabajo
      matrix:
        otp: ['27.3.4']       # Define la versión de OTP [requerido]
        elixir: ['1.18.3']    # Define la versión de elixir [requerido]
    env:
      MIX_ENV: test
    services:
      db:
        image: postgres
        ports: ["5432:5432"]
        env:
          POSTGRES_USER: ${{ env.ECTO_USER }}
          POSTGRES_PASSWORD: ${{ env.ECTO_PASS }}
          ECTO_DB: ${{ env.APP_NAME }}_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      # Valida la referencia en el repositorio para que coincida con
      # el ref/SHA que disparó el flujo de trabajo.
      - uses: actions/checkout@v4

      # Setup Elixir ----------------------------------------------------------
      - name: Preparación de Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Set mix file hash
        id: set_mix_hash
        run: |
          mix_hash="${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}"
          echo "mix_hash=$mix_hash" >> "$GITHUB_OUTPUT"

      # Restaura la cache -----------------------------------------------------
      - name: Archivos de la cache
        id: dev-cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-test-mix-${{ steps.set_mix_hash.outputs.mix_hash }}
          restore-keys: ${{ runner.os }}-test-mix-

      # Obtiene dependencias si la cache no está disponible -------------------
      - name: Instalando dependencias
        if: steps.dev-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      # Ejecuta check en entorno de pruebas -------------------------------------
      - name: Ejecución de mix check
        run: mix check